<div class="portada">
    <div class="titulos">
        <h1>Alberto Díaz Carbajal</h1>
        <h2>Software Developer</h2>
    </div>    
</div>

<div class="row justify-content-md-center align-items-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
